.description {
  height: 7rem;
  overflow-y: auto;
}
.col-5 {
  margin-bottom: 50px;
}
 body {
   font-family: 'Arvo', serif;
 }

header {
  height: 100vh;
  background-image: url('../images/abstract-wallpapers.jpg');
  background-size:cover;
  position: relative;
}

.name {
  font-family: 'Pacifico', cursive;
  position: absolute;
  top: 50%;
  left : 50%;
  transform: translate(-50%, -50%);
  color: black;
  text-shadow: 4px 4px 6px steelblue;
}

.name h1 {
  font-size: 5rem;
}
.arrow-down {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.arrow-down h5 {
  color: lightcyan;
}

.arrow-down h5:hover {
  color: white;
  background-color:rgba(0, 0, 0, 0.5);
  padding: 5px 15px;
}

section {
  min-height: 90vh;
}

section h2 {
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 2px 0px lightsteelblue;

}

#about-me {
  background-color: lightcyan;
}

#contact {
  background-color: honeydew;
}

section, footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav a {
  font-size: 1.4rem;
  color: lightcyan;
  text-shadow: 2px 2px 2px black;
}
h2 {
  font-size: 2.5rem;
}
nav a:hover {
  color: ghostwhite;
  background-color:rgba(0, 0, 0, 0.5);
}
#contact a {
  color: #17a2b8;
}
#contact a:hover {
  color: #138496;
}

footer {
  background-color: black;
  color: white;
  height: 10vh;
}


a:hover {
  text-decoration: none;
}
